div {
    background-color: #CCC
    
}
*{
    margin: 0;
    padding: 0;
}

/*------------ centrar de caja en caja -------------*/

/*inline-block permite asignarle un tamaño especifico a los elementos div*/
/*#caja1 {
    display: inline-block;
    width: 24%;
}

#caja2 {
    display: inline-block;
    width: 24%;
}

#caja3 {
    display: inline-block;
    width: 24%;
}

#caja4 {
    display: inline-block;
    width: 24%;
}*/


/*------------- USO DE DISPLAY: FLEX -------------*/
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.caja {
    margin: 1%;
}