*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main{
    display: flex;
    flex-direction: column;
}

#PadreInferior{
    display: flex;
    flex-direction: row;
}

#rojo{
    display: flex;
    flex-direction: column;
}