
* {
 margin: 15px;

}
#btnBuscar {
 border-radius: 20px; width: 150px;
 height: 30px;; margin-bottom: 0px; color:darkcyan; border: 3px solid darkcyan; font-size: 12pt; }
 /*da referencia a un pseudocodigo*/
#btnBuscar:hover { border: 3px solid cyan; }
#btnBuscar:active { border: 3px solid grey; }

#btnAyuda {
    border-radius: 45px; width: 45px;
    height: 45px;
    margin-top: 10px;
    margin-bottom: 10px; color: white;
    font-size: 20pt;
    background-color: darkcyan; border: 3px solid darkcyan; }
   #btnAyuda:hover {
    border: 3px solid cyan; background-color: cyan; }
   #btnAyuda:active {
    border: 3px solid grey; background-color: grey; }
   #btnLogin {
    width: 200px;
    height: 35px;
    margin-top: 0px;
    background-color:dodgerblue; color: white;
    font-size: 14pt;
    box-shadow: 5px 5px 1px black; }

#btnsubmit {
    margin-top: 20px;
    color: white;
    background-color: blue;
    width: 20%;
    height: 5%;
}

#padre{
    height:100%;
    color: rgb(245, 0, 0);
}

body,html {
    height: 100%;
}

div {
    display: inline;
}

