

*{
    margin: 0;
    padding: 0;
}

body,html{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end; 
    margin: 1%;
  
}

.caja{
    background-color: blue;
    width: 100%;
    height: 50%;
    padding: 1%;
   
    border-radius: 10px;
    align-items: flex-end; 


}

.conteiner{
    display: flex;
    flex-direction: roe;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}