#caja1 {
    display:inline-block;
}

#caja2{
    display: inline-block;
 
}

#caja3{
    display: inline-block;
 
}

#caja4{
    display: inline-block;
 
}
div{
    width: 24%;
}

*{
    margin: 0;
    padding: 0;
}