*{
    margin: 1;
    padding: 0;
}
body{
    width: 100%;
}
div {
    background-color: #CCC;
    display: flex;
}

#caja1 {
    display: block;
}

#caja2 {
    display: inline;
}

#caja3 {
    display: inline;
}

#caja4 {
    display: inline-block;
    Width: 24%;
    flex: 1;
}