div {
    background-color: #CCC;
}

*{
    margin: 0;
    padding: 0;
}
.caja{
    margin: 1%;
}

body{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
}
body, html{
    height: 100%;
    width: 100%;
}