 * {
     box-sizing: border-box;
     margin: 0px auto;
 }

 html,
 body {
     width: 100%;
     height: 100%;
 }

 #main {
     background-color: rgb(177, 174, 174);
     width: 100%;
     height: 100%;
     padding: 2%;
     display: flex;
     flex-direction: row;
     align-items: center;
        justify-content: center;
 }

 #verde {
     padding: 5%;
     margin: 0% 2% 0% 2%;
     background-color: green;
     width: 96%;
     height: 20%;
 }



 #rojo {
       

     margin: 2% 2% 2% 0%;
     background-color: red;
     width: 73.5%;
     height: 70%; 
     flex-direction: column;
 }

 .amarillo {

     margin: 2%;
     background-color: yellow;
     width: 28%;
     height: 40%;
     
    
    
 }

 #morado {

    
     background-color: blueviolet;
     width: 96%;
     height: 35%;
 }
 
 #azul {

     margin: 2% 2% 2% 2%;
     background-color: rgb(177, 174, 174);
     width: 20%;
     height: 60%;
     vertical-align: top;
 }

 .azuo{

       
       margin: 6% 0% 0% 6%;
        background-color:blue;
        width: 80%;
        height: 50%;
 }